:root {
  --shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--grey);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #999, #888);
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(left, #888, #777);
}

body {
  background-color: #fff;
  color: #333;
  font-family: "Playfair Display", serif;
  font-size: 18px;
}

p {
  line-height: 2.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.75rem 0 1.5rem;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.connect {
  padding: 0.5rem 1rem;
  text-align: center;
}

article {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  text-align: center;
  background-color: rgba(240, 248, 255, 0.3);
}

article > * {
  margin: auto;
  padding: 2rem 1rem;
}

/* Connect Styles */
.connect .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.connect .links a {
  font-size: 3rem;
  color: #333;
}
.connect .links a:hover,
.welcome h2 {
  background: -webkit-linear-gradient(
    to left,
    rgba(250, 93, 237, 0.8),
    rgba(85, 236, 85, 0.801),
    rgba(103, 219, 248, 0.8)
  );
  background: linear-gradient(
    to left,
    rgba(250, 93, 237, 0.8),
    rgba(85, 236, 85, 0.801),
    rgba(103, 219, 248, 0.8)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* welcome styles */

.welcome img {
  border: double 3px transparent;
  background-clip: content-box border-box;
  background-image: linear-gradient(
    to left,
    rgba(250, 93, 237, 0.8),
    rgba(85, 236, 85, 0.801),
    rgba(103, 219, 248, 0.8)
  );
  background-origin: border-box;
  max-height: 50vh;
  max-width: 70vw;
  border-radius: 10rem;
  box-shadow: var(--shadow);
}
.grid-four {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
button {
  min-width: 60px;
  min-height: 40px;
  padding: 0.75rem 1rem;
  text-align: center;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  outline: 0;
}

button,
.stackcard {
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to left,
    rgba(250, 93, 237, 0.8),
    rgba(85, 236, 85, 0.801),
    rgba(103, 219, 248, 0.8)
  );
}
.stackcard {
  padding: 1.5rem;
  text-align: left;
}
.stackcard li {
  list-style: none;
}
.projectscard {
  border: 0.75rem solid white;
  box-shadow: var(--shadow);
  backdrop-filter: scale(1.1);
  display: grid;
  min-height: 30rem;
  grid-template-rows: 4rem 1fr 5rem;
  gap: 1rem;
  perspective: 600px;
}
.projectscard h4 {
  place-self: start center;
  font-size: 1.12rem;
}
.projectscard button,
.project-btn-link {
  place-self: end center;
}
.twin-face {
  position: relative;
  transition: transform 1s ease;
  transform-style: preserve-3d;
}
.twin-face img {
  width: 100%;
  height: auto;
  max-height: 100%;
}
.back-face,
.front-face {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.back-face {
  transform: rotateY(180deg);
  overflow-y: auto;
}
.flipped-face {
  transform: rotateY(180deg);
}

@media screen and (min-width: 480px) {
  .grid-four {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  main {
    grid-template-columns: 10vw 1fr;
    grid-template-rows: auto;
  }

  .connect {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: sticky;
    top: 2rem;
    padding-top: 0;
  }
  .connect .links {
    flex-direction: column;
    height: 100%;
  }
  article {
    grid-column: 2 / span end;
    grid-row: 1 / span 2;
  }
  .grid-four {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid-four {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1200px) {
}

article::before {
  content: "FRONT END DEVELOPER";
}
.stack::before {
  content: "MY STACK";
}
.projects::before {
  content: "MY PROJECTS";
}
.watermark {
  position: relative;
  z-index: -2;
}
.watermark::before {
  font-size: 10rem;
  max-width: 80vw;
  color: #ffffffe3;
  word-wrap: break-word;
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: -1;
}
